/*
 $max-width: 960px;
 $break-point: 768px;
 $white: #fff;
 $gray: #eee;
 $dark-gray: #cecece;
 $font-large: 20px;
 $font-default: 16px;
 $font-small: 14px;
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    line-height: 1.5;
}

img {
    vertical-align: bottom;
}

ul {
    list-style: none;
}

.panel {
    background-color: #fff;
    border: solid 1px #cecece;
    border-radius: 8px;
    padding: 20px;
}

.panel__header {
    margin-bottom: 20px;
}

.panel__header__icon {
    text-align: center;
    margin-bottom: 10px;
}

.panel__header__text {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.panel__header__icon > img {
    width: 80px;
}

.panel__content {
    margin-bottom: 20px;
    font-size: 16px;
}

.panel__footer {
    font-size: 14px;
}

.belt {
    min-width: 960px;
    background-color: #eee;
}

.belt__content {
    width: 960px;
    padding: 30px 0;
    margin-left: auto;
    margin-right: auto;
}
